.collapse-total {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;

  /* background: #F7F7F7; */
  background: #9cecb5;
  background: white;



  /* border-radius: 10px; */

  width: 90%;
  /* Height: 249px; */
  height: auto;


  margin-left: 5%;
  margin-top: 0%;
  /* z-index: 1; */
}



.collapse-block {
  display: flex;
  flex-wrap: wrap;
  align-self: start;
  box-sizing: border-box;

  padding: 6px;
  /* cursor: pointer; */
  cursor: zoom-in;

  font-size: 1em;
  width: 50%;

}

.collapse-color-description {
  display: flex;

  background: #FF6060;
  border-radius: 10px;

  width: 100%;
  Height: 52px;

  margin-left: 0%;
  margin-top: 0%;

  cursor: pointer;

  padding-left: 1%;
  padding-top: 5px;
}

.collapse-color-equipments {
  display: flex;

  background: #FF6060;
  border-radius: 10px;

  width: 100%;
  Height: 52px;

  margin-left: 0%;
  margin-top: 0%;

  margin-right: 0%;

  cursor: pointer;

  padding-left: 1%;
  padding-top: 5px;

}

.collapse-color-flèche {
  display: flex;

  background: #FF6060;
  border-radius: 10px;

  Height: 20px;

  margin-left: 0%;
  margin-top: 0%;

  margin-left: auto;

  padding-top: 8px;
}

.collapse-header {
  color: #F7F7F7;
  padding: 6px;
  cursor: pointer;
  font-size: 1.4em;
}

.collapse-content-description {
  display: flex;

  background: #F7F7F7;
  border-radius: 10px;

  width: 100%;

  cursor: zoom-in;

  margin-top: 1%;
  padding: 6px;

  /*o-teste ok */
  animation: shake-out 0.7s;
}

.collapse-content-equipments {

  list-style-type: none;

  background: #F7F7F7;
  border-radius: 10px;

  width: 100%;

  cursor: zoom-in;

  margin-top: 1%;
  padding: 6px;

  /*o-teste ok */
  animation: shake-out 0.7s;
}




@keyframes shake-out {
  0% {
    opacity: 0%;
    transform: scaleY(0);
  }

  100% {
    opacity: 100%;
    transform: scaleY(1);
  }
}

@keyframes shake-in {
  0% {
    opacity: 100%;
    transform: scaleY(1);
  }

  100% {
    opacity: 100%;
    transform: scaleY(1);
  }
}