.collapsible .content {
  padding: 6px;
  background-color: #db3434;
}

.collapsible .header {
  background-color: #491212;
  padding: 6px;
  cursor: pointer;
}


/*v- pour projet  */

.collapse-total {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  /* background: #F7F7F7; */
  background: #9cecb5;


  /* border-radius: 10px; */

  width: 90%;
  Height: 249px;
  /* Height: auto; */

  margin-left: 5%;
  margin-top: 0%;
  /* z-index: 1; */
}

.collapse-color-description {
  /* display: flex; */

  background: #FF6060;
  border-radius: 10px;

  width: 45%;
  width: 582px;

  Height: 52px;

  margin-left: 5%;
  margin-top: 0%;


  margin-left: 0%;
  margin-top: 0%;

  z-index: 1;
}

.collapse-color-equipment {
  /* display: flex; */

  background: #FF6060;
  border-radius: 10px;

  width: 45%;
  width: 582px;
  Height: 52px;

  margin-left: 55%;
  margin-top: -13.8%;

  margin-left: 10%;
  margin-top: 0%;
  z-index: 1;
}


.collapse-header {
  color: #F7F7F7;
  padding: 6px;
  cursor: pointer;

}

.collapse-content {
  background: #F7F7F7;
  border-radius: 10px;
  /* width: 40%;
  Height: 52px; */

  /* margin-left: 5%; */
  margin-top: 8px;
  z-index: 0;
}