.dessus-corps {
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  /* align-content: space-around; */


  width: 90%;
  height: 200px;
  height: auto;


  margin-left: 5%;
  margin-top: 30px;
  margin-bottom: 24px;
}

.dessus-texte-tag {
  /* display: flex; */
  /* flex-direction: row; */
  /* align-content: space-around; */
}

.dessus-nom-photo {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-self: start;
  /* margin-left: 10%; */
  color: #FF6060;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  font-size: 1.0em;


}

.dessus-photo {

  width: 64px;
  height: 64px;

  border-radius: 50px;

  /* back#C4C4C4 */

}



.dessus-title {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  font-size: 1.7em;
  color: #FF6060;

  margin-top: -10px;
}

.dessus-location {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 1.0em;
  color: #FF6060;

  margin-top: -10px;
}

.dessus-total-tag {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  width: 100%;
}

.dessus-tag {
  color: #FFFFFF;

  background-color: #FF6060;


  border-radius: 25px;
  width: 115px;
  width: 250px;

  height: 25px;

  border-radius: 10px;


  text-align: center;
}

.dessus-etoile {

  color: #FF6060;


}