.footer-body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  height: 209px;
  width: 100%;

  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #090909;

  margin-left: 0%;
  margin-top: 2%;
}

/* .LOGO */
.footer-logo {
  /* position: absolute; */

  left: auto;
  right: auto;
  top: 0%;
  bottom: 0%;

  font-size: 10%;

  color: blue;

  /* max-width: 40vw; */

  height: 40px;
  width: auto;

  margin-left: auto;
  margin-right: auto;

  margin-top: 66px;


  /* left: 10%; */

}


.footer-texte {

  margin-left: auto;
  margin-right: auto;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;


  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #FFFFFF;

  margin-top: 32px;


}